/*------------ imports ------------*/
/*------------ fonts ------------*/
/*------------ transform ------------*/
/*------------ animate ------------*/
/*------------ flex ------------*/
/*------------ other ------------*/
/*------------ colors ------------*/
/*------------ button ------------*/
/*------------ placeholder ------------*/
::-webkit-input-placeholder {
  color: #808080 !important; }

:-moz-placeholder {
  color: #808080 !important; }

::-moz-placeholder {
  color: #808080 !important; }

:-ms-input-placeholder {
  color: #808080 !important; }

body {
  font-size: 18px;
  color: #303435;
  line-height: 1.4; }

.wrapper {
  max-width: 1320px;
  margin: auto; }
  .wrapper.wrapper_container {
    padding: 0 15px; }

.info-section {
  padding: 1em 0;
  overflow: auto; }

a {
  color: #303435; }
  a:hover {
    color: #336aae; }

table {
  width: 100%;
  overflow: auto; }
  table thead {
    line-height: 1.2; }
    table thead tr {
      background-color: rgba(74, 71, 75, 0.83);
      color: #fff; }
  table tbody {
    line-height: 1.4; }
    table tbody tr:nth-child(even) {
      background-color: rgba(249, 242, 252, 0.79); }
      table tbody tr:nth-child(even) td {
        border-left: 1px solid rgba(90, 252, 255, 0.3); }
        table tbody tr:nth-child(even) td:first-child {
          border: none; }
    table tbody tr:nth-child(odd) {
      background-color: rgba(90, 252, 255, 0.3); }
      table tbody tr:nth-child(odd) td {
        border-left: 1px solid rgba(249, 242, 252, 0.79); }
        table tbody tr:nth-child(odd) td:first-child {
          border: none; }
  table th {
    border-right: 1px solid #fff; }
    table th:last-child {
      border: none; }
  table th, table td {
    padding: .5em;
    text-align: center; }

form input[type=text] {
  padding: .5em .7em;
  border: 1px solid rgba(74, 71, 75, 0.83);
  line-height: 1.4em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
  -moz-box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
  box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  form input[type=text]:focus {
    outline: none;
    border-color: #336aae;
    -webkit-box-shadow: 3px 3px 5px 0 #336aae;
    -moz-box-shadow: 3px 3px 5px 0 #336aae;
    box-shadow: 3px 3px 5px 0 #336aae; }

/*------------ header ------------*/
.header {
  padding: 1.5em 0;
  background-color: rgba(223, 216, 226, 0.79); }
  .header .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between; }

.nav li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold; }
  .nav li:first-child {
    margin-right: 1em; }
  .nav li a {
    display: block;
    padding: .5em 0;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .nav li a:hover {
      -webkit-box-shadow: 0 3px 0 0 #336aae;
      -moz-box-shadow: 0 3px 0 0 #336aae;
      box-shadow: 0 3px 0 0 #336aae; }

.header_enter form input {
  margin-right: .5em; }
.header_enter form span {
  margin: 0 .5em; }
.header_enter #login-btn {
  background-color: #5ab86b;
  color: #fff;
  padding: .5em .7em;
  outline: none !important;
  line-height: 1.4em;
  border: 1px solid #5ab86b;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 2px 5px 0 #3a7443;
  -moz-box-shadow: 2px 2px 5px 0 #3a7443;
  box-shadow: 2px 2px 5px 0 #3a7443; }
  .header_enter #login-btn:hover {
    background-color: #3a7443; }
  .header_enter #login-btn:active {
    box-shadow: none; }
.header_enter #register-btn {
  background-color: #f5f41c;
  color: #303435;
  padding: .5em .7em;
  outline: none !important;
  line-height: 1.4em;
  border: 1px solid #f5f41c;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 2px 5px 0 #d8d71a;
  -moz-box-shadow: 2px 2px 5px 0 #d8d71a;
  box-shadow: 2px 2px 5px 0 #d8d71a; }
  .header_enter #register-btn:hover {
    background-color: #d8d71a; }
  .header_enter #register-btn:active {
    box-shadow: none; }
.header_enter .error-msg {
  color: #e91c20; }

/*------------ main ------------*/
.main {
  padding: 2em 0; }

/*------------ footer ------------*/
.status-form {
  display: none; }

.register-form {
  display: none; }

form label {
  display: block; }

/*------------ imports ------------*/

/*# sourceMappingURL=style.css.map */
