/*------------ imports ------------*/
/*------------ fonts ------------*/
/*------------ transform ------------*/
/*------------ animate ------------*/
/*------------ flex ------------*/
/*------------ other ------------*/
/*------------ colors ------------*/
/*------------ button ------------*/
/*------------ placeholder ------------*/
::-webkit-input-placeholder {
  color: #808080 !important; }

:-moz-placeholder {
  color: #808080 !important; }

::-moz-placeholder {
  color: #808080 !important; }

:-ms-input-placeholder {
  color: #808080 !important; }

body {
  font-size: 16px;
  color: #303435;
  line-height: 1.4; }

.wrapper {
  max-width: 1320px;
  margin: auto; }
  .wrapper.wrapper_container {
    padding: 0 15px; }

.info-section {
  padding: 1em 0;
  overflow: auto; }

a {
  color: #303435; }
  a:hover {
    color: #336aae; }

h2, h3, h4 {
  text-align: center;
  margin: .5em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.2em; }

table {
  width: 100%;
  overflow: auto;
  font-size: 14px; }
  table thead {
    line-height: 1.2; }
    table thead tr {
      background-color: rgba(74, 71, 75, 0.83);
      color: #fff; }
  table tbody {
    line-height: 1.4; }
    table tbody tr:nth-child(even) {
      background-color: rgba(249, 242, 252, 0.79); }
      table tbody tr:nth-child(even) td {
        border-left: 1px solid rgba(90, 252, 255, 0.3); }
        table tbody tr:nth-child(even) td:first-child {
          border: none; }
    table tbody tr:nth-child(odd) {
      background-color: rgba(90, 252, 255, 0.3); }
      table tbody tr:nth-child(odd) td {
        border-left: 1px solid rgba(249, 242, 252, 0.79); }
        table tbody tr:nth-child(odd) td:first-child {
          border: none; }
  table th {
    border-right: 1px solid #fff; }
    table th:last-child {
      border: none; }
  table th, table td {
    padding: .5em;
    text-align: center; }

form:after {
  content: '';
  display: block;
  clear: both; }
form input[type=number],
form input[type=text],
form select {
  width: 100%;
  padding: .5em .7em;
  border: 1px solid rgba(74, 71, 75, 0.83);
  line-height: 1.4em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
  -moz-box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
  box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  form input[type=number]:focus,
  form input[type=text]:focus,
  form select:focus {
    outline: none;
    border-color: #336aae;
    -webkit-box-shadow: 3px 3px 5px 0 #336aae;
    -moz-box-shadow: 3px 3px 5px 0 #336aae;
    box-shadow: 3px 3px 5px 0 #336aae; }
form .form_buttons {
  float: left;
  width: 100%;
  padding: 1em 15px;
  text-align: center; }

.popup {
  font-size: 1.2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .popup_close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background-color: #e91c20;
    color: #fff;
    padding: .4em;
    line-height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .popup_close i {
      width: 1em;
      height: 1em;
      font-size: 1em;
      line-height: 1em; }
    .popup_close:hover {
      background-color: #9e1618; }
  .popup .form {
    margin: 5% 0;
    background-color: #fff;
    padding: 3em 15px 1em 15px;
    position: relative;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em; }

button.new_wizard {
  margin-top: .7em;
  background-color: #336aae;
  color: #fff;
  padding: .5em .7em;
  outline: none !important;
  line-height: 1.4em;
  border: 1px solid #336aae;
  font-weight: 600;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 2px 5px 0 #244877;
  -moz-box-shadow: 2px 2px 5px 0 #244877;
  box-shadow: 2px 2px 5px 0 #244877; }
  button.new_wizard:hover {
    background-color: #244877; }
  button.new_wizard:active {
    box-shadow: none; }

/*------------ header ------------*/
.header {
  padding: 1.5em 0;
  background-color: rgba(223, 216, 226, 0.79);
  -webkit-box-shadow: 0 1px 5px 0 rgba(74, 71, 75, 0.83);
  -moz-box-shadow: 0 1px 5px 0 rgba(74, 71, 75, 0.83);
  box-shadow: 0 1px 5px 0 rgba(74, 71, 75, 0.83); }
  .header .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between; }

.nav li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold; }
  .nav li:first-child {
    margin-right: 1em; }
  .nav li a {
    display: block;
    padding: .5em 0;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .nav li a:hover {
      -webkit-box-shadow: 0 3px 0 0 #336aae;
      -moz-box-shadow: 0 3px 0 0 #336aae;
      box-shadow: 0 3px 0 0 #336aae; }

.header_enter form input {
  width: auto;
  margin-right: .5em; }
.header_enter form span {
  margin: 0 .5em; }
.header_enter #login-btn {
  background-color: #5ab86b;
  color: #fff;
  padding: .5em .7em;
  outline: none !important;
  line-height: 1.4em;
  border: 1px solid #5ab86b;
  font-weight: 600;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 2px 5px 0 #3a7443;
  -moz-box-shadow: 2px 2px 5px 0 #3a7443;
  box-shadow: 2px 2px 5px 0 #3a7443; }
  .header_enter #login-btn:hover {
    background-color: #3a7443; }
  .header_enter #login-btn:active {
    box-shadow: none; }
.header_enter .register-btn {
  background-color: #f5f41c;
  color: #303435;
  padding: .5em .7em;
  outline: none !important;
  line-height: 1.4em;
  border: 1px solid #f5f41c;
  font-weight: 600;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 2px 5px 0 #d8d71a;
  -moz-box-shadow: 2px 2px 5px 0 #d8d71a;
  box-shadow: 2px 2px 5px 0 #d8d71a; }
  .header_enter .register-btn:hover {
    background-color: #d8d71a; }
  .header_enter .register-btn:active {
    box-shadow: none; }
.header_enter .error-msg {
  color: #e91c20; }

/*------------ main ------------*/
.main {
  padding: 2em 0; }

.table_empty {
  text-align: center;
  color: #e91c20; }

/*------------ user page ------------*/
.user_page h3 {
  margin: 2em 0;
  line-height: 1.5em; }
  .user_page h3 a {
    color: #336aae; }

/*------------ footer ------------*/
.status-form {
  display: none;
  text-align: center; }
  .status-form label {
    display: inline-block;
    margin-right: .5em; }
  .status-form .form {
    width: 50%;
    margin: 5% auto 5% auto; }
  .status-form #choose_status {
    background-color: #336aae;
    color: #fff;
    padding: .5em .7em;
    outline: none !important;
    line-height: 1.4em;
    border: 1px solid #336aae;
    font-weight: 600;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 2px 2px 5px 0 #244877;
    -moz-box-shadow: 2px 2px 5px 0 #244877;
    box-shadow: 2px 2px 5px 0 #244877; }
    .status-form #choose_status:hover {
      background-color: #244877; }
    .status-form #choose_status:active {
      box-shadow: none; }

.register-form {
  display: none; }
  .register-form #add_wizard {
    margin-right: .5em;
    background-color: #336aae;
    color: #fff;
    padding: .5em .7em;
    outline: none !important;
    line-height: 1.4em;
    border: 1px solid #336aae;
    font-weight: 600;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 2px 2px 5px 0 #244877;
    -moz-box-shadow: 2px 2px 5px 0 #244877;
    box-shadow: 2px 2px 5px 0 #244877; }
    .register-form #add_wizard:hover {
      background-color: #244877; }
    .register-form #add_wizard:active {
      box-shadow: none; }
  .register-form #reset_wizard {
    background-color: rgba(223, 216, 226, 0.79);
    color: #303435;
    padding: .5em .7em;
    outline: none !important;
    line-height: 1.4em;
    border: 1px solid rgba(223, 216, 226, 0.79);
    font-weight: 600;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
    -moz-box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83);
    box-shadow: 2px 2px 5px 0 rgba(74, 71, 75, 0.83); }
    .register-form #reset_wizard:hover {
      background-color: rgba(74, 71, 75, 0.83); }
    .register-form #reset_wizard:active {
      box-shadow: none; }
    .register-form #reset_wizard:hover {
      color: rgba(249, 242, 252, 0.79); }
  .register-form form label {
    display: block;
    width: 50%;
    padding: 0 15px 1em 15px;
    float: left; }
    .register-form form label label {
      display: inline-block;
      width: auto;
      padding: .5em .7em; }
    .register-form form label span {
      display: block;
      margin-bottom: .3em; }

/*------------ imports ------------*/

/*# sourceMappingURL=style.css.map */
