/*------------ imports ------------*/
@import "_mixins";
@import "_vars";
@import "_general.scss";

/*------------ header ------------*/
.header {
  padding: 1.5em 0;
  background-color: $gray_header;
  @include box-shadow(0, 1px, 5px, 0, $gray_thead);
  .wrapper {
    @include flex_display;
    @include flex_justify_content(space-between);
  }
}

.nav {
  li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    &:first-child {
      margin-right: 1em;
    }
    a {
      display: block;
      padding: .5em 0;
      text-decoration: none;
      @include animate();
      &:hover {
        @include box-shadow(0, 3px, 0, 0, $text_hover);
      }
    }
  }
}

.header_enter {
  form {
    input {
      width: auto;
      margin-right: .5em;
    }
    span {
      margin: 0 .5em;
    }
  }
  #login-btn {
    @include button();
  }
  .register-btn {
    @include button($yellow, $text, $yellow_dark);
  }
  .error-msg {
    color: $red;
  }
}

/*------------ main ------------*/
.main {
  padding: 2em 0;
}

.table_empty {
  text-align: center;
  color: $red;
  background-color: $gray_table;
  font-weight: bold;
}

/*------------ user page ------------*/
.user_page {
  h3 {
    margin: 2em 0;
    line-height: 1.5em;
    a {
      color: $text_hover;
    }
  }
}

/*------------ footer ------------*/
.status-form {
  display: none;
  text-align: center;
  label {
    display: inline-block;
    margin-right: .5em;
  }
  .form {
    width: 50%;
    margin: 5% auto 5% auto;
  }
  #choose_status {
    @include button($text_hover, $white, $text_hover_dark);
  }
}

.register-form {
  display: none;
  #add_wizard,
  #update_wizard {
    margin-right: .5em;
    @include button($text_hover, $white, $text_hover_dark);
  }
  #reset_wizard {
    @include button($gray_header, $text, $gray_thead);
    &:hover {
      color: $white;
    }
  }
  #update_wizard {
    display: none;
  }
  form {
    label {
      display: block;
      width: 50%;
      padding: 0 15px 1em 15px;
      float: left;
      label {
        display: inline-block;
        width: auto;
        padding: .5em .7em;
      }
      span {
        display: block;
        margin-bottom: .3em;
      }
    }
  }
}

/*------------ imports ------------*/
@import "_mediaqueries";
