/*------------ imports ------------*/
@import "_vars";
@import "_mixins";
@import "_general.scss";

/*------------ footer ------------*/
.status-form {
  display: none;
}

.register-form {
  display: none;
}

form {
  label {
    display: block;
  }
}

/*------------ imports ------------*/
@import "_mediaqueries";
